# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment (outside project, so optional)
#calculator_venv/

# Editor config
.vscode/
.idea/
*.swp

# Logs and DB files
*.log
*.sqlite3
